*{
  margin: 0;
  padding: 0;
}

body{
  background-color: white;
  color : rgb(120,0,255);

}

.headline{
  text-align: center;
  font-weight : 900;
  font-size: 30pt;
  font-family: verdana;
}
.detail{
  width: 30vw;
  font-size: 12px;
  font-weight: 100;
}

/* --------------------------- */

.container{
  display: flex/grid;
  border : 1px dotted rgb(0,255,200);
}

header{
  margin-top: 75px;
}
header .detail{
  margin: 20px auto 90px auto;
}
/* --------------------- */

.flex-contents{
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: stretch;
  flex-wrap: wrap;
  flex-shrink: 0;
}
#alpha{
  background-color: rgb(0,255,200);
  height: 50vh;
  flex-direction: column;
  justify-content: center;
}
.nowstudy{
  width: 40%;
}
#nowposter{
  height: 100%;
}
#alpha .detail{
  margin-top: 20px;
}

/* --------------------------- */
#beta{
  background-color: rgb(120,9,255);
  height: 40vh;
}
#beta .headline{
  color: rgb(0, 255, 200);
  text-align: left;
}
.postered{
  width: 175px;
  color : rgb(120,9,255);
  text-align: center;
}
.postered img{
  width: 100%;
}
